.laphoto
{
	width : 180px;
	height : 120px;
	margin-top : 0px;
	padding-top : 0px;
	margin-left : auto;
	margin-right : auto;
	display: block;
	margin-bottom : 0px;
}
td
{
	background-image :url("../images/fond_tableau.jpg");
	background-repeat: no-repeat;
	width : 288px;
	height : 261px;
	padding : 0px;
	margin : 0px;
}
td p
{
	padding-left : 10px;
	margin : auto;
	width : 268px;
	text-align : center;
}
#legende
{
	display : flex;
	margin-bottom : 20px;
}
.plegende 
{
	margin : 20px;
	padding : 10px;
}